$am-font-white-1:#ffffff;

//this is for the font and bg color 
$am-font-color-1:#222831;
$am-font-color-2:#ED2127;
$am-font-color-3:#309ECA;
$am-font-color-4:#E1EEFA;
$am-font-color-5:#F2F2F2;
$am-font-color-6:#2228314f;
$am-font-color-7:#95CDE4;
$am-font-color-8:#224c93;
$am-font-color-9:#6A6A6A;

