$am-font-size-1-1:0.375rem;
$am-font-size-1-2:0.875rem;
$am-font-size-2-1:0.8rem;

$am-font-spec-1:1.2rem;

$am-font-spec-3:1.3rem;

$am-font-size-1:0.5rem;
$am-font-size-2:1rem;
$am-font-size-3:1.5rem;
$am-font-size-4:2rem;
$am-font-size-5:2.5rem;
$am-font-size-6:3rem;
$am-font-size-7:3.5rem;
$am-font-size-8:4rem;


$am-font-weight-1:100;
$am-font-weight-2:200;
$am-font-weight-3:300;
$am-font-weight-4:400;
$am-font-weight-5:500;
$am-font-weight-6:600;
$am-font-weight-7:700;
$am-font-weight-8:800;
$am-font-weight-9:900;
